<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta - Open Weather</title>
</head>
<body>
    <div class="index">
        <div class="div">
            <div class="text">Consulta<br/>Open Weather</div>
            <button id="acessarDados" class="text-button">Acessar Dados</button>
        </div>
    </div>

    <script>
        document.getElementById('acessarDados').addEventListener('click', function() {
            window.location.href = '/weather_data';
        });
    </script>
</body>
</html>
